<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>799684687260-t6vguke42j9dhcu7901ej4fgkvq6cpuj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799684687260-t6vguke42j9dhcu7901ej4fgkvq6cpuj</string>
	<key>API_KEY</key>
	<string>AIzaSyD6zRzcT1x8JDVwn7jFUoXsg-wttaQVSKo</string>
	<key>GCM_SENDER_ID</key>
	<string>799684687260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.countrysidebible.TWU</string>
	<key>PROJECT_ID</key>
	<string>twu-series</string>
	<key>STORAGE_BUCKET</key>
	<string>twu-series.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799684687260:ios:35447e8c67eb478c</string>
	<key>DATABASE_URL</key>
	<string>https://twu-series.firebaseio.com</string>
</dict>
</plist>